.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/guess_number/FileContentIndex/bdbf0b7c-4c3e-4ea5-bccc-d4a447d848b4.vsidx
.vs/guess_number/FileContentIndex/b28843d4-5f2f-4405-bc66-4758bbe2c1f0.vsidx
.vs/guess_number/v17/.wsuo
.vs/guess_number/v17/DocumentLayout.json
